body
{
    text-align: center;
}
.output
{
    border: 1px solid black;
    border-radius: 1em;
    margin-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    display: inline-block;
    background-color: beige;
}
input[type=submit]
{
    height: 50px;
    border-radius: 1em;
    background-color: rgb(19, 226, 0);
}
input[type=submit]:hover
{
    background-color: #66ff40;
}